# --- Power BI Ignored Files ---

# 1. Ignore the compiled binary reports (We only want the source code!)
*.pbix
*.pbit

# 2. Ignore temporary cache and working files
.PBIP_Cache/
localSettings.json
cache/

# 3. Ignore Python temporary files
__pycache__/
*.pyc

# 4. Ignore local logs (We don't need to track every audit run history)
projects/audit_log.csv
